
# Note:
#   - libpointmatch cmake install require that the README.md file exist in the docker image
#   - libpointmatcher-CI doc related step require that .svg, .png and .md be copied in the docker image

# Graphic/image related
*.svg
*.svgz
*.png
*.drawio

# Text related
*.pdf

# Files


# Directories
drawio/*
visual/*

# IDE
.run/*
